parameters:
    universalObjectCratesClasses:
        - ../NetDNS2\RR\SIG
        - ../NetDNS2\RR\OPT
    paths:
        - ../NetDNS2/src
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '*expects int, int\|null given*'
        - '*does not accept int\|null*'
